# Data Science Tools And Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Understand how to evaluate arithmetic expressions in Python  
- Create simple tables using Markdown  
- Use Markdown to format headings and comments

 Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Sql

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib/Seaborn

| Data Science Tools       |
|-------------------------|
| Jupyter Notebook        |
| RStudio                 |
| Apache Zeppelin         |

### Below are a few examples of evaluating arithmetic expressions in Python.

print(2 + 3)       # Output: 5

print(7 - 4)       # Output: 3

print(5 * 6)       # Output: 30

print(8 / 2)       # Output: 4.0

print(9 // 2)      # Output: 4

print(9 % 2)       # Output: 1

In [11]:
(3*4)+5

#  This a simple arithmetic expression to mutiply then add integers

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Md Al Amin